/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "jost";
  src: url(../josefin-sans/JosefinSans-Bold.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "jost";
  font-size: 2rem;
}

:root {
  color: white;
  color: black;
}

.darkTheme {
  background-color: black;
  color: white !important;
}
.darkTheme .hamburger-menu {
  color: white;
}
.darkTheme .pc-nav ul a {
  color: white;
}
.darkTheme .pc-nav ul .dom {
  color: purple;
}

.pc-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  width: 100%;
  height: 1%;
  gap: 2%;
  padding: 0.8em;
}
.mobile-nav img {
  width: 50%;
  height: 50%;
}

.hamburger-menu {
  margin-top: 4%;
  height: 3rem;
  width: 3rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.hamburger-menu .line {
  height: 3px;
  width: 70%;
  background-color: black;
}

.About {
  margin-top: 1rem;
}
.About h1 {
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 45px;
  width: 450px;
}
.About p {
  margin-top: 2rem;
  font-size: 20px;
}
.About .btn {
  margin-top: 1rem;
}
.About .btn .purple {
  background-color: purple;
  color: white;
  border: none;
  height: 6vh;
  width: 30vw;
}
.About .btn .white {
  border: 2px solid purple;
  height: 6vh;
  width: 30vw;
}
.About .pic {
  display: flex;
  gap: 10px;
  margin-top: 2%;
}
.About .pic img {
  height: 20vh;
  width: 19vw;
}
.About .pic .pp3 {
  margin-top: 2rem;
}
.About .watch {
  display: flex;
  gap: 2%;
}
.About .watch span {
  color: purple;
}
.About .watch img {
  margin-top: 2rem;
  width: 20px;
  height: 20px;
}
.About .tick {
  display: flex;
  gap: 2%;
}
.About .tick img {
  margin-top: 2rem;
  width: 20px;
  height: 20px;
}

.media {
  margin-top: 2rem;
  gap: 30px;
}
.media .text {
  margin-top: 1rem;
  font-size: 17px;
  width: 100%;
}
.media .pic17 {
  display: flex;
  margin-top: 1rem;
}
.media .pic17 img {
  width: 15rem;
  height: 10rem;
}
.media .pic17 .city {
  margin-top: 5rem;
  margin-right: 5%;
}
.media .mm3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.media .mm3 img {
  margin-top: 1rem;
  width: 350px;
  height: 25rem;
}
.media .mm3 p {
  margin-top: 1rem;
  font-size: 20px;
  width: 350px;
  font-weight: 200px;
}
.media .btn {
  margin-left: 9rem;
  margin-right: 21rem;
  margin-top: 2rem;
  background-color: purple;
  width: 40vw;
  height: 7vh;
  color: white;
}

.Services {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Services h1 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.Services .events {
  margin-top: 1rem;
  background-image: url(/IMAGEZ/Rectangle\ 27.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 358px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 4%;
}
.Services .events p {
  color: white;
  position: absolute;
  right: 45%;
  bottom: 0;
}
.Services img {
  width: 4rem;
  height: 4rem;
  background-color: purple;
  bottom: 1px;
  right: 1px;
  position: absolute;
}
.Services .digitalservice {
  margin-top: 1rem;
  background-image: url(/IMAGEZ/Screen\ Shot\ 2022-11-24\ at\ 11.35.23.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 358px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 4%;
}
.Services .digitalservice img {
  color: white;
  background-color: white;
}
.Services .girl {
  margin-top: 1rem;
  background-image: url(/IMAGEZ/Rectangle\ 47.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.happyclients {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.happyclients .man2 h3 {
  margin-top: 1rem;
  font-size: 25px;
}
.happyclients .man2 p {
  margin-top: 2rem;
  width: 90%;
  font-size: 25px;
}
.happyclients .man2 img {
  margin-top: 2rem;
  width: 350px;
  height: 50vh;
}
.happyclients .happy {
  margin-top: 3%;
}
.happyclients .happy img {
  width: 350px;
  height: 50vh;
}
.happyclients .happy h1 {
  margin-top: 2rem;
}
.happyclients .happy h2 {
  margin-top: 1rem;
}
.happyclients .happy p {
  margin-top: 2rem;
  font-size: 25px;
  width: 85%;
}

.third {
  margin-top: 5rem;
}
.third h3 {
  text-align: center;
}
.third span {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.third .lady2 {
  margin-top: 4rem;
}
.third .lady4 {
  margin-top: 4rem;
}
.third .lady6 {
  margin-top: 4rem;
}

.tigzozo .tezz {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}
.tigzozo .tezz p {
  text-align: center;
}
.tigzozo .btn1 {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}
.tigzozo .btn1 button {
  margin-top: 2rem;
  width: 39vw;
  height: 7vh;
  color: white;
  background-color: purple;
  border: none;
  font-size: 30px;
}

.footer {
  margin-top: 2rem;
  background-color: purple;
  display: flex;
}
.footer .mainfooter {
  margin-top: 1rem;
}
.footer .mainfooter p {
  color: white;
  font-size: 20px;
  line-height: 50px;
}
.footer .mainfooter .copyright {
  margin-top: 1rem;
}
.footer .mainfooter .icons {
  gap: 1%;
}
.footer .maina-about {
  margin-top: 2rem;
}
.footer .maina-about h1 {
  color: white;
  text-decoration: underline;
}
.footer .maina-about p {
  color: white;
  line-height: 50px;
  font-size: 25px;
}
.footer .maina-services {
  margin-top: 2rem;
}
.footer .maina-services h1 {
  color: white;
  text-decoration: underline;
}
.footer .maina-services p {
  color: white;
  line-height: 50px;
  font-size: 25px;
}
.footer .maina-follow {
  margin-top: 2rem;
}
.footer .maina-follow h1 {
  color: white;
  text-decoration: underline;
}
.footer .maina-follow p {
  color: white;
  line-height: 50px;
  width: 50%;
  font-size: 25px;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .pc-nav {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .pc-nav ul {
    display: flex;
    gap: 30px;
  }
  .pc-nav ul a {
    text-decoration: none;
    color: black;
  }
  .pc-nav ul img {
    width: 2rem;
    height: 2rem;
  }
  .pc-nav ul .dom {
    color: purple;
  }
  .About {
    margin-top: 1%;
  }
  .About h1 {
    margin-top: 9rem;
  }
  .About .btn {
    margin-top: 1rem;
  }
  .About .btn .purple {
    background-color: purple;
    color: white;
    border: none;
    height: 6vh;
    width: 10vw;
  }
  .About .btn .white {
    border: 2px solid purple;
    height: 6vh;
    width: 10vw;
  }
  .About .pic {
    margin-top: 5%;
  }
  .About .pic img {
    height: 70vh;
  }
  .About .pic .pp3 {
    margin-top: 5%;
  }
  .media .text {
    margin-left: 4rem;
    width: 350px;
  }
  .media .pic17 img {
    width: 50rem;
    height: 50vh;
  }
  .media .pic17 .city {
    margin-top: 5rem;
    margin-right: 5%;
  }
  .media .btn {
    width: 10vw;
    height: 7vh;
  }
  .media .mm3 {
    margin-top: 1%;
  }
  .media .mm3 img {
    margin-left: 13rem;
    margin-top: 1rem;
    width: 550px;
    height: 25rem;
  }
  .Services h1 {
    font-size: 30px;
  }
  .Services .events {
    height: 70vh;
    gap: 3%;
  }
  .Services .digitalservice {
    height: 70vh;
  }
  .Services .girl {
    height: 70vh;
  }
  .happyclients .man2 h3 {
    margin-left: 70px;
    margin-top: 1rem;
    font-size: 25px;
  }
  .happyclients .man2 h2 {
    margin-left: 60px;
  }
  .happyclients .man2 p {
    margin-left: 70px;
    margin-top: 2rem;
    width: 65%;
    font-size: 25px;
  }
  .happyclients .man2 img {
    margin-left: 70px;
    margin-top: 2rem;
    width: 350px;
    height: 50vh;
  }
  .tigzozo .btn1 {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .tigzozo .btn1 button {
    margin-top: 2rem;
    width: 12vw;
    height: 7vh;
    color: white;
    background-color: purple;
    border: none;
    font-size: 30px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */